//section.content-header(admin-header='Flanker',title='Geo Twitter',
//sub-title='Manage location based twitter feed scrapers')
//section.content(ui-view='' style='background-color: #00ff00;height: 100%;')
.content(ui-view='')
