.col-xs-6
  table.table(st-table='displayedScrapers', st-safe-src='safeDisplayedScrapers')
    thead
      tr(style='color: #ff8f8f')
        th.text-center.col-xs-1 Time Started
        th.text-center.col-xs-1 Minutes Active
        th.text-center.col-xs-1 Location Box
        th.text-center.col-xs-1 Tweets Examined
        th.text-center.col-xs-1 *
    tbody(style='background-color: #00ff00;')
      tr(ng-repeat='scraper in displayedScrapers' style='color: #c0c0c0; background-color: #606060;')
        td.text-center {{scraper.timeStarted}}
        td.text-center {{scraper.scrapeDuration}}
        td.text-center {{scraper.locations}}
        td.text-center {{scraper.tweetsExamined}}
        td.td-center
          .btn-toolbar
            button.btn.btn-sm.btn-primary(ng-click='toggleScraperActive({id:scraper.scraperId})')
              i.fa.fa-play(ng-class="{'fa-play': scraper.scraperActive, 'fa-pause': scraper.scraperActive}")
            button.btn.btn-sm.btn-danger(ng-click='destroyScrape({id:scraper.scraperId})')
              i.fa.fa-trash-o
.col-xs-6
