{
  "presets": ["es2015"],
  "ignore": [
    "NOT USED UNTIL BABEL BUG RESOLVED: https://phabricator.babeljs.io/T6726",
    "client/app/js/bootstrap",
    "client/app/js/net-graph",
    "client/app/js/lb-services.js",
    "client/app/js/translations.js"
  ]
}
