node_modules/
*.log
npm-debug*
client/app/bower_components/
client/app/build
providers.json
.tmp/
dist/
.idea/
.env
.twitter-keys.json
# Will re-ignore this once flows are stored in database
server/node-red/*.backup
server/node-red/*_cred.json
server/node-red/.config.json
server/config.json
server/datasources.json
