node_modules/
*.log
client/app/bower_components/
providers.json
.tmp/
dist/
.idea/
.env
# Will re-ignore this once flows are stored in database
server/node-red/*.backup
server/node-red/.config.json
server/config.json
