.container-fluid
  .row
    .col-md-12
      .form-group
        label Add JSON data (expects array of json objects with lat/lng properties)
        textarea#data.form-control( style='height: 200px' ng-model='data' )

      button.btn.btn-primary( ng-click='createPins($event)' ng-attr-disabled='pinning' )
        span( ng-if='!pinning' ) Create Pins
        span( ng-if='pinning' ) Working...
      button.btn.btn-link( ng-click='clearPins()' ) Clear Pins
  .row( class='pad-top-md' )
    .col-md-12
      .form-group
        label Change Zoom
        select.form-control( ng-model='zoom' ng-change='changeZoom()' )
          option( value='8' ) Closer (in)
          option( value='6' ) Close
          option( value='5' ) Middle
          option( value='4' ) Far
          option( value='3' ) Farther (out)
  .row( class='pad-top-md' )
    .col-md-12
      #map( pin-map zoom='3' class='pin-map' )

script( src='http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/markerclustererplus/src/markerclusterer_packed.js' )
