/* styles for directives in common module */

div.time-series {
  width: 100%;
  height: 160px;
  padding-left: 0px;
}

/* override google chart styles */
div.time-series .border {
  background-color: #181818
}

/* general purpose block styles */
.pad-top-md {
  padding-top: 10px;
}

.form-group label {
  color: white;
}

/* semi-transparent overlay */
.map-overlay {
  height: 200px;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.7);
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  position: fixed;
  /*width: 100%;*/
  z-index: 100;
}

.truncate {
  overflow: auto;
}

.gone {
  display: none;
}
