div.events-cloud, div.live-cloud {
  height: 220px;
}

img.grid-image {
  height: 60px;
  width: 60px;
}

img.muted {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
