div.events-cloud, div.live-cloud {
  height: 220px;
}

img.grid-image {
  height: 50px;
  width: 50px;
}

canvas.netgraph {
  height:180px;
  width:100%;
}

/*
img.muted {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
*/
