div.events-list {
}

a.list-group-item {
  background-color: black;
}

a.list-group-item:hover {
  background-color: #333;
}

div.list-group {
  overflow: auto;
}

a.list-group-item.selected {
  background-color: #333;
}
