header.header
    a.logo( href="/")
      img(src="/images/GennieLogok256.png" style="float:left; width: 50px;")
      | {{ getSetting('appName') }}
    navbar
div
  div.wrapper.row-offcanvas.row-offcanvas-left
      aside.left-side.sidebar-offcanvas.collapse-left(class="{{getCollapsedStatus()}}")
          section.sidebar
              div.user-panel
                  div.pull-left.image
                      img(gravatar-src="currentUser.email" alt="User Image").img-circle
                  div.pull-left.info
                      p
                        a(href="" ui-sref="app.users.profile") {{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}
                      p
                        small
                          a( href="" ui-sref="app.users.profile") {{ currentUser.email }}
              ul.sidebar-menu
                  li(ng-repeat="item in menuoptions" ui-sref-active="active")
                      a(href="" ui-sref="{{item.sref}}")
                        i.fa.fa-fw(class="{{item.icon}}")
                        |{{item.name | translate}}
      aside.right-side.at-view-fade-in.at-view-fade-out.strech(class="{{getStretchedStatus()}}" )
        ui-view(style="background-color:red")
