table.table.scrollable( ng-show='events.length' )
  thead
    tr
      th( ng-repeat='heading in headings' )
        {{ heading }}
  tbody
    tr( ng-repeat='event in events track by event.event_id'
      ng-click='showEvent(event)' )
      td
        img( ng-src='{{ event.event_source | sourceIcon }}' )
      td
        {{ event.weight || 50 }}
