.list-group( ng-show='events.length' )
  a.list-group-item( ng-repeat='event in events track by event.event_id'
    ng-click='showEvent(event)' )
    span.badge( title='event weight (# of posts or users)') {{ event.weight }}
    img( ng-src='{{ event.event_source | sourceIcon }}' )
