time-series

twitter-stream( stream-controls )
  #map( map heat-map zoom='9' class='events-map' )

jqcloud(words='words' delay='10' steps='7' class='events-map-cloud'
  font-size='{from:0.09, to:0.04}')

image-slider
