time-series

twitter-stream( stream-controls )
  #map( map heat-map zoom='9' class='events-map' )

.container-fluid
  .row
    .col-md-6
      jqcloud(words='tags' delay='10' steps='7' class='events-cloud'
        font-size='{from:0.08, to:0.02}')

    .col-md-6
      jqcloud(words='liveTags' delay='10' steps='7' class='live-cloud'
        font-size='{from:0.08, to:0.02}')
  .row
    .col-md-12
      image-slider
